<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no" charset="UTF-8">
    <style>
    body {
        font-size:20px;
    }
    </style>
    <title>通中一中辩论友谊赛领票处</title>
</head>
<body>
    <h1>第一届南通中学南通一中辩论友谊赛</h1>
    <h2>领票处</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} : {{ form.name() }} <span style='color:red'>{{ form.errors.name }}</span></p>
        <p>{{ form.number.label }} : {{ form.number() }} <span style='color:red'>{{ form.errors.number }}</span></p>
        <p>{{ form.qqmail.label }} : {{ form.qqmail() }} <span style='color:red'>{{ form.errors.qqmail }}</span></p>
        <p>{{ form.school.label }} :  <span style='color:red'>{{ form.errors.school }}</span></p>
        {% for choice in form.school %}
        <tr>
            <td>{{ choice }}</td>
            <td>{{ choice.label }}</td>
            <br />
        </tr>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
	<p style="color:blue">请填写真实信息以便核对</p>
    <br />
    <br />
    <br />
    <p><font size="1" color="gray">**2018南通中学极客共进交流社**</font></p>
</body>
</html>