<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-size: 20px;
        }
    </style>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no" charset="UTF-8">
    <title>通中一中辩论友谊赛领票处</title>
</head>
<body>
    <h1 style="color: blue">领票成功！</h1>
    <p>{{ message }}</p>
    <p>如果长时间未收到入场券，可以尝试重新提交一次一样的信息，我们会重发邮件</p>
    <br />
    <br />
    <br />
    <p><font size="1" color="gray">**2018南通中学极客共进交流社**</font></p>
</body>
</html>